<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>80784728391-hts9fgge1oc2j2bq0olcm9esgnq2f9mr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.80784728391-hts9fgge1oc2j2bq0olcm9esgnq2f9mr</string>
	<key>API_KEY</key>
	<string>AIzaSyBoPIULlL9YHrW0VtxTduaUlCXjXGoDL_4</string>
	<key>GCM_SENDER_ID</key>
	<string>80784728391</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nomanashraf874.Nuntius</string>
	<key>PROJECT_ID</key>
	<string>nuntius-32eb5</string>
	<key>STORAGE_BUCKET</key>
	<string>nuntius-32eb5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:80784728391:ios:39a5cc71fa332238c72c62</string>
</dict>
</plist>